*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
    position: relative;
}
#pelota{
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 100px;
    position: absolute;
}
